affine~=2.3.0
git+git://github.com/webdataset/webdataset@master
albumentations~=1.0.0
torchvision==0.10.0
antialiased-cnns==0.3.0
pytorch-msssim==0.2.1
neptune-client==0.10.2
hydra-optuna-sweeper==1.1.0
perceiver-pytorch
python-dotenv
rich
axial-attention
lightning-bolts
neptune-pytorch-lightning
pytest
