affine~=2.3.0
numpy~=1.20.3
satpy~=0.29.0
pyresample~=1.20.0
git+git://github.com/webdataset/webdataset@master
albumentations~=1.0.0
rasterio~=1.2.4
cartopy~=0.19.0.post1
pandas~=1.2.4
matplotlib~=3.4.2
xarray~=0.18.2
torch~=1.9.0
