# https://neptune.ai

neptune:
  _target_: neptune.new.integrations.pytorch_lightning.NeptuneLogger
  api_key: ${oc.env:NEPTUNE_API_TOKEN} # api key is loaded from environment variable
  project: OpenClimateFix/forecasting-satellite-images
  prefix: ""
  name: "Sat"
