_target_: satflow.data.datamodules.SatFlowDataModule

batch_size: 12
data_dir: ${data_dir} # data_dir is specified in config.yaml
shuffle: 0
sources:
  train: "satflow-train-{00000..00214}.tar"
  val: "satflow-val-{00000..00060}.tar"
  test: "satflow-test-{00000..00057}.tar"
num_workers: 12
pin_memory: True
config:
  visualize: False
  num_timesteps: 6
  skip_timesteps: 1
  forecast_times: 24
  output_shape: 128
  target_type: "cloudmask"
  num_crops: 10
  num_times: 15
  use_topo: False
  use_latlon: False
  use_time: False
  time_aux: False
  use_mask: False
  use_image: False
  time_as_channels: True
  add_pixel_coords: False
  add_polar_coords: False
  bands: ["HRV", "IR016", "VIS006", "VIS008"]
  transforms: {}
